
<nav>
  <ul>
    <li class="active">
      <a href="index.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Blogs</span></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-lg fa-fw fa-file"></i> <span class="menu-item-parent">About</span></a>
      <ul>
        <li>
          <a href="profile.html">Resume</a>
        </li>
        <li>
          <a href="timeline.html">Timeline</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>