<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    {% include 'tong/_stylesheets.html' %}
  </head>
  <body class="smart-style-2">

    <header id="header">
      {% include '_header.html' %}
    </header>

    <aside id="left-panel">
      {% include '_sidebar.html' %}
    </aside>

    <div id="main">
      {% block content %}
        
        {% block main %} {% endblock main %}
      {% endblock content %}
    </div>

    {% include 'tong/_scripts.html' %}

  </body>
</html>